.git
.gitignore
**/node_modules
**/dist
**/.vite
**/.eslintcache
**/target
.idea
.vscode
.DS_Store
**/*.log
**/playwright-report
**/test-results
**/coverage
.bootui
.env
.env.*
.mvn/timing.properties
